In [108]:
import pandas as pd
import numpy as np
from sklearn.base import TransformerMixin

In [109]:
cols = ['a', 'b', 'c']

In [110]:
df = pd.DataFrame({
    'a': [1,2,3,4,5],
    'b': [4,4,5,6,6],
    'c': [2,2,5,8,8]
})

In [111]:
data = df.to_numpy()
data

array([[1, 4, 2],
       [2, 4, 2],
       [3, 5, 5],
       [4, 6, 8],
       [5, 6, 8]])

In [112]:
data - data.mean(axis = 0)

array([[-2., -1., -3.],
       [-1., -1., -3.],
       [ 0.,  0.,  0.],
       [ 1.,  1.,  3.],
       [ 2.,  1.,  3.]])

In [113]:
class MeanCenteredScaler(BaseEstimator, TransformerMixin):
    
    def __init__(self, **fit_params):
        super().__init__(**fit_params)
    
    def fit(self, X):
        '''
        Learns column means of x
        
        Parameters
        ----------
        X : array-like of shape (n_samples, n_features)
            Input samples.

        Returns
        -------
        self : self
        '''
        self.means = X.mean(axis = 0)
        return self
        
    def transform(self, X):
        '''
        Learns column means of x
        
        Parameters
        ----------
        X : array-like of shape (n_samples, n_features)
            Input samples.

        Returns
        -------
        X_new : ndarray array of shape (n_samples, n_features_new)
            Transformed array.
        '''
        return X - self.means

##### Test With Pandas

In [114]:
mcs = MeanCenteredScaler()

In [115]:
mcs.fit(df)

MeanCenteredScaler()

In [116]:
new_df = mcs.transform(df)

In [117]:
new_df

     a    b    c
0 -2.0 -1.0 -3.0
1 -1.0 -1.0 -3.0
2  0.0  0.0  0.0
3  1.0  1.0  3.0
4  2.0  1.0  3.0

In [118]:
mcs = MeanCenteredScaler()

In [119]:
new_df = mcs.fit_transform(df)

In [120]:
new_df

     a    b    c
0 -2.0 -1.0 -3.0
1 -1.0 -1.0 -3.0
2  0.0  0.0  0.0
3  1.0  1.0  3.0
4  2.0  1.0  3.0

##### Test With Numpy

In [121]:
mcs = MeanCenteredScaler()

In [122]:
new_data = mcs.fit_transform(data)

In [123]:
new_data

array([[-2., -1., -3.],
       [-1., -1., -3.],
       [ 0.,  0.,  0.],
       [ 1.,  1.,  3.],
       [ 2.,  1.,  3.]])

#### `return self`

#### `**fit_params`